
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Russo+One&display=swap');
body{
  background-color: #f1f8f9;
}
.navbar{
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);

}
.russo{
  font-family: "Russo One", serif;
}
.logo{
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

}
@media (min-width: 768px) {
  .main-head{
    line-height: 60px;
  }
}
.line{
  border: 3px solid gray;
  margin-top: 40px;
}


/*SIGN IN TO KOTINOS*/
.input-box{
  border: 2px solid black;
  padding: 4px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
#Logo{
  height: 86px;
  width: 86px;
  border-radius: 100%;
}
#signin-imageh1div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 705px;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;

}

#signinbox2{
  background-color: white;
  height: max-content;
  width: 500px;
  align-self: center;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
  align-items: center;

}
#outerdivsignin{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#outerdivsignin2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
  align-self: center;
}

#firstinputsignin2{
  height: 52px;
  width: 400px;
  border: 2px solid black;
  border-radius: 2%;
}

#signinpagesignuplink{
  color: blue;

}
#signupbox{
  background-color: white;
  height: 500px;
  width: 500px;
  align-self: center;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
  align-items: center;
  
}
#signupbox3{
  background-color: white;
  height: 500px;
  width: 500px;
  align-self: center;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
  align-items: center;
  margin: 0 auto;
}
#signupbox2{
  background-color: white;
  height: 1000px;
  width: 500px;
  align-self: center;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
#signupcontinue{
  background-color: black;
  color: white;
  height: 30px;
  width: 100px;
}
#signupcontinue2{
  background-color: black;
  color: white;
  height: 30px;
  width: 200px;
}
#googlebutton{
  height: 50px;
  width: 150px;
  background-color: black;
  color: white;
}